process {

	// container/environment settings
	singularity.enabled = true
	singularity.cacheDir = "work/singularity/"

	// slurm job settings
	executor = "slurm"
	clusterOptions = "--partition=shared"
	memory = '64 GB'

	// lower iVar threshold settings to retain more low-frequency variants
	withName: 'IVAR_VARIANTS' {
		ext.args = '-t 0.01 -q 20 -m 100'
	}

}
